In [145]:
import pandas as pd

In [146]:
file_path = "purchase_data.csv"
file_pd = pd.read_csv(file_path, encoding="utf-8")
file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [147]:
# total_players = (file_pd['SN']).nunique()
# print(f"Total Players: {total_players}")
tot_player_dict = {"Total Players":[file_pd['SN'].nunique()]}
pd.DataFrame(tot_player_dict)

   Total Players
0            576

## Purchasing Analysis (Total)

In [148]:
# num_of_unique_items = (file_pd['Item ID']).nunique()
# avg_purchase_price = (file_pd['Price']).mean()
# number_of_purchases = (file_pd['Purchase ID']).count()
# total_revenue = (file_pd['Price']).sum()
# print(f"Number of Unique Items: {num_of_unique_items}")
# print(f"Average Price: {avg_purchase_price}")
# print(f"Number of Purchases: {number_of_purchases}")
# print(f"Total Revenue: ${total_revenue}")
purchase_dict = {"Number of Unique Items":(file_pd['Item ID']).nunique(),"Average Price": [avg_purchase_price],
                 "Number of Purchases":number_of_purchases,"Total Revenue":total_revenue}
# total_pd = pd.DataFrame()
# print(purchase_dict)
total_pd = pd.DataFrame(data = purchase_dict, columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
total_pd['Average Price'] = total_pd['Average Price'].map('${:,.2f}'.format)
total_pd['Total Revenue'] = total_pd['Total Revenue'].map('${:,.2f}'.format)
total_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographic

In [149]:
count = file_pd["Gender"].value_counts()
tot_players = file_pd['SN'].nunique()
# perct_male = (count['Male']/tot_players)*100
# perct_female = (count['Female']/tot_players)*100
# perct_other = (count['Other / Non-Disclosed']/tot_players)*100
# print(perct_other)
# print(perct_male)
# print(perct_female)
# print(count)
gender_demo_dict = {"Percentage of Players":[(count['Male']/tot_players)*100,(count['Female']/tot_players)*100,(count['Other / Non-Disclosed']/tot_players)*100]
                   ,"Total Count": count}
gender_demo_df = pd.DataFrame(data = gender_demo_dict, columns = ['Percentage of Players', 'Total Count'])
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map('{:,.2f}'.format)
gender_demo_df

                      Percentage of Players  Total Count
Male                                 113.19          652
Female                                19.62          113
Other / Non-Disclosed                  2.60           15

## Purchasing Analysis (Gender)

In [150]:
only_male = file_pd.loc[(file_pd['Gender']=='Male')]
male_purchase_value = only_male['Price'].sum()
avg_male_purchase_price = male_purchase_value/count['Male']
only_female = file_pd.loc[(file_pd['Gender']=='Female')]
female_purchase_value = only_female['Price'].sum()
avg_female_purchase_price = female_purchase_value/count['Female']
only_other = file_pd.loc[(file_pd['Gender']=='Other / Non-Disclosed')]
other_purchase_value = only_other['Price'].sum()
avg_other_purchase_price = other_purchase_value/count['Other / Non-Disclosed']
# print(avg_male_purchase_price)
purchase_analysis_dict = {'Gender':['Male','Female','Other / Non-Disclosed'], 'Purchase Count':count,
                          'Average Purchase Price':[avg_male_purchase_price,avg_female_purchase_price,avg_other_purchase_price],
                          'Total Purchase Cost':[male_purchase_value,female_purchase_value,other_purchase_value]}

purchase_analysis_pd = pd.DataFrame(purchase_analysis_dict)
purchase_analysis_pd['Average Purchase Price'] = purchase_analysis_pd['Average Purchase Price'].map('${:,.2f}'.format)
purchase_analysis_pd['Total Purchase Cost'] = purchase_analysis_pd['Total Purchase Cost'].map('${:,.2f}'.format)
purchase_analysis_pd.set_index('Gender')

,Average Purchase Price,Purchase Count,Total Purchase Cost
Gender,,,
Male,$3.02,652,"$1,967.64"
Female,$3.20,113,$361.94
Other / Non-Disclosed,$3.35,15,$50.19

## Age Demographics

In [152]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
file_pd["Age Group"] = pd.cut(file_pd["Age"], age_bins, labels = group_names)
file_pd.head()
# age_demo_pd = file_pd[["SN","Age","Age Group","Price"]]
# age_demo_pd.head()
age_count = count = file_pd["Age Group"].value_counts()
# age_count
age_grp_dict = {"Percentage of Players":[(count['20-24']/tot_players)*100,(count['15-19']/tot_players)*100,(count['25-29']/tot_players)*100,
                                        (count['30-34']/tot_players)*100,(count['35-39']/tot_players)*100,(count['10-14']/tot_players)*100,
                                        (count['<10']/tot_players)*100,(count['40+']/tot_players)*100]
                   ,"Total Count": age_count}
age_demo_df = pd.DataFrame(data = age_grp_dict, columns = ['Percentage of Players', 'Total Count'])
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map('{:,.2f}'.format)
age_demo_df

      Percentage of Players  Total Count
20-24                 63.37          365
15-19                 23.61          136
25-29                 17.53          101
30-34                 12.67           73
35-39                  7.12           41
10-14                  4.86           28
<10                    3.99           23
40+                    2.26           13