In [168]:
import pandas as pd

In [169]:
file_path = "purchase_data.csv"
file_pd = pd.read_csv(file_path, encoding="utf-8")
file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [178]:
file_pd.dtypes

Purchase ID       int64
SN               object
Age               int64
Gender           object
Item ID           int64
Item Name        object
Price           float64
Age Group      category
dtype: object

## Player Count

In [170]:
# total_players = (file_pd['SN']).nunique()
# print(f"Total Players: {total_players}")
tot_player_dict = {"Total Players":[file_pd['SN'].nunique()]}
pd.DataFrame(tot_player_dict)

   Total Players
0            576

## Purchasing Analysis (Total)

In [171]:
# num_of_unique_items = (file_pd['Item ID']).nunique()
# avg_purchase_price = (file_pd['Price']).mean()
# number_of_purchases = (file_pd['Purchase ID']).count()
# total_revenue = (file_pd['Price']).sum()
# print(f"Number of Unique Items: {num_of_unique_items}")
# print(f"Average Price: {avg_purchase_price}")
# print(f"Number of Purchases: {number_of_purchases}")
# print(f"Total Revenue: ${total_revenue}")
purchase_dict = {"Number of Unique Items":(file_pd['Item ID']).nunique(),"Average Price": [avg_purchase_price],
                 "Number of Purchases":number_of_purchases,"Total Revenue":total_revenue}
# total_pd = pd.DataFrame()
# print(purchase_dict)
total_pd = pd.DataFrame(data = purchase_dict, columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
total_pd['Average Price'] = total_pd['Average Price'].map('${:,.2f}'.format)
total_pd['Total Revenue'] = total_pd['Total Revenue'].map('${:,.2f}'.format)
total_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographic

In [172]:
count = file_pd["Gender"].value_counts()
tot_players = file_pd['SN'].nunique()
# perct_male = (count['Male']/tot_players)*100
# perct_female = (count['Female']/tot_players)*100
# perct_other = (count['Other / Non-Disclosed']/tot_players)*100
# print(perct_other)
# print(perct_male)
# print(perct_female)
# print(count)
gender_demo_dict = {"Percentage of Players":[(count['Male']/tot_players)*100,(count['Female']/tot_players)*100,(count['Other / Non-Disclosed']/tot_players)*100]
                   ,"Total Count": count}
gender_demo_df = pd.DataFrame(data = gender_demo_dict, columns = ['Percentage of Players', 'Total Count'])
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map('{:,.2f}'.format)
gender_demo_df

                      Percentage of Players  Total Count
Male                                 113.19          652
Female                                19.62          113
Other / Non-Disclosed                  2.60           15

## Purchasing Analysis (Gender)

In [173]:
only_male = file_pd.loc[(file_pd['Gender']=='Male')]
male_purchase_value = only_male['Price'].sum()
avg_male_purchase_price = male_purchase_value/count['Male']
only_female = file_pd.loc[(file_pd['Gender']=='Female')]
female_purchase_value = only_female['Price'].sum()
avg_female_purchase_price = female_purchase_value/count['Female']
only_other = file_pd.loc[(file_pd['Gender']=='Other / Non-Disclosed')]
other_purchase_value = only_other['Price'].sum()
avg_other_purchase_price = other_purchase_value/count['Other / Non-Disclosed']
# print(avg_male_purchase_price)
purchase_analysis_dict = {'Gender':['Male','Female','Other / Non-Disclosed'], 'Purchase Count':count,
                          'Average Purchase Price':[avg_male_purchase_price,avg_female_purchase_price,avg_other_purchase_price],
                          'Total Purchase Cost':[male_purchase_value,female_purchase_value,other_purchase_value]}

purchase_analysis_pd = pd.DataFrame(purchase_analysis_dict)
purchase_analysis_pd['Average Purchase Price'] = purchase_analysis_pd['Average Purchase Price'].map('${:,.2f}'.format)
purchase_analysis_pd['Total Purchase Cost'] = purchase_analysis_pd['Total Purchase Cost'].map('${:,.2f}'.format)
purchase_analysis_pd.set_index('Gender')

,Average Purchase Price,Purchase Count,Total Purchase Cost
Gender,,,
Male,$3.02,652,"$1,967.64"
Female,$3.20,113,$361.94
Other / Non-Disclosed,$3.35,15,$50.19

## Age Demographics

In [179]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
file_pd["Age Group"] = pd.cut(file_pd["Age"], age_bins, labels = group_names)
file_pd.head()
# age_demo_pd = file_pd[["SN","Age","Age Group","Price"]]
# age_demo_pd.head()
age_count = file_pd["Age Group"].value_counts()
# age_count
age_grp_dict = {"Percentage of Players":[(age_count['20-24']/tot_players)*100,(age_count['15-19']/tot_players)*100,(age_count['25-29']/tot_players)*100,
                                        (age_count['30-34']/tot_players)*100,(age_count['35-39']/tot_players)*100,(age_count['10-14']/tot_players)*100,
                                        (age_count['<10']/tot_players)*100,(age_count['40+']/tot_players)*100]
                   ,"Total Count": age_count}
age_demo_df = pd.DataFrame(data = age_grp_dict, columns = ['Percentage of Players', 'Total Count'])
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map('{:,.2f}'.format)
age_demo_df.sort_index()

      Percentage of Players  Total Count
<10                    3.99           23
10-14                  4.86           28
15-19                 23.61          136
20-24                 63.37          365
25-29                 17.53          101
30-34                 12.67           73
35-39                  7.12           41
40+                    2.26           13

## Purchasing Analysis (Age)

In [158]:
file_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+